<!DOCTYPE html>
<html lang="en">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0" name="viewport"/>
    <title>Google Drive File Manager</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script async defer src="https://apis.google.com/js/client:platform.js?onload=start"></script>

    <script>

    function start() {

      gapi.load('auth2', function () {
        auth2 = gapi.auth2.init({
          client_id: '531323657514-f49eb8jbpri7pchpa7o8hiu0rpu0gefl.apps.googleusercontent.com',
          // Scopes to request in addition to 'profile' and 'email'
          scope: 'https://www.googleapis.com/auth/drive.file'
        });
      });
    }


    </script>

</head>

<body>

<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a class="brand-logo" href="#" id="logo-container"></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#"></a></li>
        </ul>
    </div>
</nav>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text"> Google Drive File Management </h1>
        <div class="row center">
            <h5 class="header col s12 light">This application uses the Google Drive API to manage your files</h5>
        </div>
        <div class="row center">
            <a class="btn-large waves-effect waves-light orange" id="signinButton">Get Started</a>
        </div>
        <br><br>
    </div>
</div>


<script>

    $('#signinButton').click(function () {
      auth2.grantOfflineAccess().then(signInCallback).catch(e => console.log(e));
    });


    function signInCallback(authResult) {

      if (authResult['code']) {

        $('#signinButton').attr('style', 'display: none');

        $.ajax({

          type: 'POST',
          url: 'https://java-gdrive.herokuapp.com/callback/auth-code',
          // Always include an `X-Requested-With` header in every AJAX request to protect against CSRF attacks.
          headers: {
            'X-Requested-With': 'XMLHttpRequest'
          },
          contentType: 'application/json; charset=utf-8',
          success: function (result) {
            console.log(result)
            window.location.replace("/swagger");
          },
          processData: false,
          data: JSON.stringify({ "code": authResult['code'] })
        });

      } else {
        console.log("Error on Google Authorization Flow.");
      }
    }


</script>

<style>
    .light-blue.lighten-1 {
      background-color: #478FCD !important;
    }
    .orange-text {
      color: #F15A22 !important;
    }
    .orange {
      background-color: #5FAD46 !important;
    }

</style>


</body>

</html>